MESHTASTIC_HOST=
MESHTASTIC_PORT=4403
DATABASE_PATH=./data/meshtastic.db
CONNECTIONS_PATH=./data/connections.json
DISCOVERY_SUBNET=
IPC_HOST=127.0.0.1
IPC_PORT=8765
LOG_LEVEL=INFO
UPDATE_URL=https://venes.org/meshpi/version.json
UPDATE_TIMEOUT=3
BACKGROUND_MODE=always
